<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Lora" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
    
    </script>
  </head>
  <body>
    <div style="text-align: center;margin-top: 50px" class="hy">
      E-voting
    </div>
    <div style="text-align: center;margin-top: 10px" class="ht">
      Please enter your code
    </div>
    <div class="row">
    <form class="col s12" method="post" action="/sendCred">
      <div class="row" style="margin-top: 20px">
        <div class="col s4">
        </div>
        <div class="input-field col s4">
          <input name="credentials" id="credentials" type="text" class="validate">
          <label for="credentials">Code</label>
        </div>
        <div class="col s4">
        </div>
      </div>
      <button id="getcred" class="btn waves-effect waves-light" type="submit" name="action" style=" margin-left: 570px; height: 40px; width: 200px; ">Submit

    </button>

    </form>

    <%if (error == 1) { %>
      <div style="text-align: center; color: red">
        Invalid credentials
      </div>
    <% } %>
  </div>
  </body>
</html>
